@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body{
  scroll-behavior: smooth;
}

.secondary-title{
  @apply text-3xl font-bold
}

.secondary-title::before{
  content: ""; 
  @apply block w-12 h-2 bg-theme rounded-full mb-1;
}

.tertiary-title{
  @apply text-3xl font-bold
}

.tertiary-title::before{
  content: ""; 
  @apply block w-12 h-2 bg-yellow-300 rounded-full mb-1;
}

.section-paragraph {
  @apply text-secondary my-6 w-full max-w-3xl;
}

.badge{
  @apply px-4 py-2 text-sm bg-badge;
}

.button-hop:hover{
  @apply transform duration-500 -translate-y-5;
}
